body
{
  background:  #287bf8;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#mainNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 18px;
}

#mainNav li {
  float: left;
}

#mainNav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#mainNav li a:hover {
  background-color: #111;
}

.active {
  background-color: #3414ee;
}

#title{
text-align: center;
font-size: 30px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
color: beige;
}

#a{
  background-color:rgba(236, 238, 238, 0.8);
  border-style:solid;
  border-color: black;
  border-width: thin;
  margin: 5px;
  border-width: thin;
  padding: 10px;
}
#s{
  background-color:black;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 1em;
  margin: 5px;
  color: black;
  opacity:80%;
}
#p{
  font-size: 18px;
  font-family:cursive;
  color: aqua;
}
img {
  padding: 7px;
}
#mainImg{
  width:100%;
  height:20%;
  display:block;
  padding:0;
  margin:0 auto;
}

.footer {
  width: 98%;
  background-color:black;
  color: white;
  text-align: center;
  padding: 5px;
  text-align:left;
  font-size: "22px";
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border:3px solid black;
  clear:both;
  margin:10px;
}
img{
  padding:7px;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
ol{
  font-size: 18px;
  font-family:cursive;
  color: aqua;
}

#aa{
  background-color:white;
  border-style:solid;
  border-color: black;
  border-width: thin;
  margin: 5px;
  border-width: thin;
  padding: 10px;
}
  #animal{
    height:192px;
    width: 250px;
    background:url(../images/SeaLionAn.jpg) no-repeat center center;
    animation-name: Route;
    animation-duration: 10s;
    -webkit-animation-name: Route;
    -webkit-animation-duration: 10s;
    }
    @keyframes Route {
     0%, 100% {
     transform: translate(0, 0);
     }
     25% {
     transform: translate(1230px, 0);
     }
     50% {
       transform: translate(0, 0);
     }
     75%{
      transform: translate(1230px, 0);
     }
   }
     
    

    @-webkit-keyframes Route {
     0%, 100% {
     -webkit-transform: translate(0, 0);
     }
     25% {
     -webkit-transform: translate(1230px, 0);
     }
     50% {
      -webkit-transform: translate(0px, 0);
      }
     75% {
        -webkit-transform: translate(1230px, 0);
        }
    }