<!DOCTYPE html>
<html lang="en">
  <!--HTML HOME PAGE OF THE DEHIWALA ZOO-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="This site is about the wildlife of Sri Lanka showcased in Dehiwala Zoo "
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../images/favicon-16x16.png"
    />
    <link rel="manifest" href="../images/site.webmanifest" />
    <link
      rel="mask-icon"
      href="../images/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <link rel="shortcut icon" href="../images/favicon.ico" />
    <meta name="msapplication-TileColor" content="#00aba9" />
    <meta name="msapplication-config" content="../images/browserconfig.xml" />
    <meta name="theme-color" content="#f7f3f3" />
    <title>Dehiwala Zoo-Beauty of Lankan Wildlife</title>
    <link rel="stylesheet" href="../stylesheet/styles.css" />
    <link rel="normalize" href="../stylesheet/normalize.css" />
    <link rel="stylesheet" href="../stylesheet/modal.css" />

    <script src="../scripts/cleave.min.js"></script>
  </head>
  <body background="../images/home_background.jpg">
    <header>
      <h1 id="title">
        <b><u>Purchase and Donate</u></b>
      </h1>
      <br />
    </header>
    <!---Navigation bar uses "mainNav" id in css "stylesheet", where it links to 4 webpages-->
    <nav id="mainNav" class="pd">
      <ul>
        <div>
          <li><a href="../Index.html">Home</a></li>
          <li><a href="TypesOfAnimalsAndPlants.html">Animals and Plants</a></li>
          <li><a href="ActivitiesPage.html">Activities</a></li>
          <li>
            <a class="active" href="PurchaseAndDonate.html"
              >Purchse and Donate</a
            >
          </li>
          <li><a href="ContactUs.html">Contact Us</a></li>
        </div>
        <button class="btn" type="button" id="showFavourites">
          Favourites
        </button>
      </ul>
    </nav>
    <!--End of Navigation-->

    <article id="a">
      <section id="s" style="opacity: 1">
        <div id="contact-form-holder">
          <div id="form-side">
            <h2>Ticket Booking</h2>

            <div id="form">
              <form action="#" method="post" id="billing-form">
                <p class="category-header">Ticket Type:</p>
                <p>
                  <input
                    type="radio"
                    id="day"
                    name="ticketCategory"
                    value="Day Pass"
                    required
                  />
                  <label for="day">Day Pass</label>

                  <input
                    type="radio"
                    id="student"
                    name="ticketCategory"
                    value="Student pass"
                  />
                  <label for="student">Student Pass</label>

                  <input
                    type="radio"
                    id="foreigner"
                    name="ticketCategory"
                    value="Foreigner Pass"
                  />
                  <label for="foreigner">Foreigner Pass</label>
                </p>
                <p class="category-header">Number of Tickets:</p>
                <p>
                  <input
                    id="adult-tickets"
                    type="number"
                    name="tickets"
                    placeholder="No. of tickets for Adults *"
                    min="0"
                    style="margin-right: 10px"
                    required
                  />

                  <input
                    id="student-tickets"
                    type="number"
                    name="tickets"
                    placeholder="No. of tickets for Children *"
                    min="0"
                    required
                  />
                </p>
                <p class="category-header">Duration</p>
                <p>
                  <input
                    type="radio"
                    id="threeHours"
                    name="duration"
                    value="Three Hours"
                    required
                  />
                  <label for="threeHours"> 3 Hours</label>

                  <input
                    type="radio"
                    id="halfDay"
                    name="duration"
                    value="Half Day"
                  />
                  <label for="halfDay">Half a Day</label>
                  <br />
                  <input
                    type="radio"
                    id="fullDay"
                    name="duration"
                    value="Full Day"
                  />
                  <label for="fullDay">Full Day</label>

                  <input
                    type="radio"
                    id="twoDays"
                    name="duration"
                    value="Two Days"
                  />
                  <label for="twoDays">Two Days</label>
                </p>

                <p class="category-header">Extras</p>

                <p>
                  <input
                    type="checkbox"
                    id="annual"
                    name="annual"
                    value="Annual Pass"
                  />
                  <label for="annual">Annual Pass</label>

                  <input
                    type="checkbox"
                    id="food"
                    name="food"
                    value="Food Token"
                  />
                  <label for="food">Food Token</label>
                </p>
                <p>
                  <button
                    type="submit"
                    id="addToOrder"
                    class="btn"
                    style="margin-right: 15px"
                  >
                    Add to Order
                  </button>
                  <button id="placeOrder" class="btn">Place Order</button>
                </p>
                <p>
                  <button
                    type="button"
                    id="addToFav"
                    class="btn"
                    style="margin-right: 15px"
                  >
                    Add to Favourites
                  </button>
                  <button id="placeFavOrder" class="btn">
                    Order Favourite Order
                  </button>
                </p>
                <p>
                  <button id="loyalityPointsBtn" class="btn">
                    Check Loyality Points
                  </button>
                </p>
              </form>
            </div>
          </div>
          <div id="logo-side">
            <div id="logo-holder">
              <img
                id="contactus"
                src="../images/Thank you-300.webp"
                alt="Thank you!"
                srcset="../images/Thank you-300.webp 1x, ../images/Thank you-600.webp 2x, ../images/Thank you-900.webp 3x "
              />
            </div>
            <h3 id="loyaity-points">Loyality Points</h3>
          </div>
        </div>
      </section>
    </article>

    <section id="a">
      <article id="s">
        <fieldset class="current-order">
          <legend>Current Order</legend>
          <p id="ticket-type" class="item">Ticket Type : Not Selected</p>
          <p id="no-tickets" class="item">Number of Tickets : Not Selected</p>
          <p id="duration" class="item">Duration of Visit : Not Selected</p>
          <p id="extras" class="item">Extras Passes : Not Selected</p>
          <p id="current-bill" class="item">Current Bill : LKR 0</p>
          <p class="order-price"></p>
        </fieldset>
        <fieldset>
          <legend class="order-details">Overall Order</legend>
          <div class="overall-order"></div>
          <p class="overall-order-price">Overall Bill : LKR 0</p>
        </fieldset>
      </article>
    </section>

    <article id="a">
      <section id="s" style="opacity: 1">
        <div id="contact-form-holder">
          <div id="form-side">
            <h2>Donate Us</h2>

            <div id="form">
              <form action="#" method="post" id="donationForm">
                <p class="category-header">Your Details & Donation Amount</p>
                <div class="input-field">
                  <div class="label">
                    <label for="firstName">First Name: </label>
                  </div>
                  <div class="text-box donatee">
                    <input
                      type="text"
                      placeholder="First Name *"
                      name="FN"
                      id="firstName"
                      required
                    />
                  </div>
                </div>
                <div class="input-field">
                  <div class="label">
                    <label for="address">Address: </label>
                  </div>
                  <div class="text-box donatee">
                    <input
                      type="text"
                      placeholder="Address *"
                      name="address"
                      id="address"
                      required
                    />
                  </div>
                </div>
                <div class="input-field">
                  <div class="label">
                    <label for="donation-amount"
                      >Select amount of donation:
                    </label>
                  </div>
                  <div class="text-box">
                    <select
                      type="number"
                      id="donation-amount"
                      name="donation-amount"
                      required
                    >
                      <option value="100">LKR 100.00/=</option>
                      <option value="100">LKR 250.00/=</option>
                      <option value="100">LKR 500.00/=</option>
                      <option value="100">LKR 1000.00/=</option>
                      <option value="100">LKR 2500.00/=</option>
                      <option value="100">LKR 5000.00/=</option>
                      <option value="100">LKR 10000.00/=</option>
                    </select>
                  </div>
                </div>
                <p class="category-header">Credit Cards Details</p>
                <div class="input-field">
                  <div class="label">
                    <label for="card-name">Name on Card: </label>
                  </div>

                  <div class="text-box donatee">
                    <input
                      type="text"
                      placeholder="Loki Loufison"
                      id="card-name"
                      name="card-name"
                      required
                    />
                  </div>
                </div>
                <div class="input-field">
                  <div class="label">
                    <label for="card-number">Credit card number: </label>
                  </div>
                  <div class="text-box donatee">
                    <input
                      type="text"
                      placeholder="xxxx-xxxx-xxxx-xxxx"
                      id="card-number"
                      class="ccn"
                      name="card-number"
                      required
                    />
                  </div>
                </div>
                <div class="input-field">
                  <div class="label">
                    <label for="card-month">Exp Month: </label>
                  </div>
                  <div class="text-box donatee">
                    <input
                      type=""
                      placeholder="01"
                      id="card-month"
                      class="mon"
                      name="card-month"
                      required
                    />
                  </div>
                </div>
                <div class="input-field">
                  <div class="label">
                    <label for="card-year">Exp Year: </label>
                  </div>
                  <div class="text-box donatee">
                    <input
                      type=""
                      placeholder="2001"
                      id="card-year"
                      class="year"
                      name="card-year"
                      min="0"
                      max="4"
                      required
                    />
                  </div>
                </div>
                <div class="input-field">
                  <div class="label">
                    <label for="card-cvv">CVV: </label>
                  </div>
                  <div class="text-box donatee">
                    <input
                      type="text"
                      placeholder="01"
                      id="card-cvv"
                      name="card-cvv"
                      required
                    />
                  </div>
                </div>
                <br />
                <button type="submit" id="donate-btn" class="btn">
                  Submit
                </button>
              </form>
            </div>
          </div>
          <div id="logo-side">
            <div id="logo-holder">
              <img
                id="contactus"
                src="../images/Thank you-300.webp"
                alt="Thank you!"
                srcset="../images/Thank you-300.webp 1x, ../images/Thank you-600.webp 2x, ../images/Thank you-900.webp 3x "
              />
            </div>
          </div>
        </div>
      </section>
    </article>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2></h2>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer">
          <h4>Product Manufacturer Name Here</h4>
        </div>
      </div>
    </div>

    <!--Footer-->
    <footer>
      <section>
        <div class="footer">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3961.282043226651!2d79.87130236448839!3d6.85675949504484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2slk!4v1618132663488!5m2!1sen!2slk"
            width="600"
            height="200"
            style="border: 0"
            align="right"
          ></iframe>
          <h5><u>Quick Contact</u></h5>
          <h5>Phone:</h5>
          <p>
            +94 77 200 3434 <br />
            +94 77 200 3433
          </p>

          <h5>Email:</h5>
          <p>
            cb009196@students.apiit.lk <br />
            sherunirmb@gmail.com
          </p>

          <div class="center">
            <a href="https://twitter.com/dehiwalazoo?lang=en" target="_blank">
              <img
                src="../images/twitter.jpg"
                alt="Twitter Icon"
                width="50px"
                height="50px"
            /></a>

            <a href="https://www.facebook.com/N.Z.G.D.S/" target="_blank">
              <img
                src="../images/facebook.jpg"
                alt="Facebook Icon"
                width="50px"
                height="50px"
            /></a>

            <a
              href="https://www.youtube.com/channel/UC84XDEelJLaoPNZG1VwoH8w"
              target="_blank"
            >
              <img
                src="../images/youtube.jpg"
                alt="Youtube Icon"
                width="50px"
                height="50px"
            /></a>

            <a
              href="https://www.instagram.com/explore/locations/1751816904888533/sri-lanka/dehiwala/dehiwala-national-zoo/"
              target="_blank"
            >
              <img
                src="../images/instagram.jpg"
                alt="Instagram Icon"
                width="50px"
                height="50px"
            /></a>
          </div>
        </div>
      </section>
      <h5>
        &copy All rights of images are reserved for images
        <a
          href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwi-n5z_-vPvAhXCg0sFHermAHAYABAAGgJzZg&ae=2&ohost=www.google.com&cid=CAESQOD2F3EbCDjjMO4QvFyD-dBHLndsK7U2sf9erIAQbiVSmnoGf_6sSDXJzZyQUPkEw0G4rbGt6KlItIHmo8zScrk&sig=AOD64_0rpg9XD3BdjLtS0EzLJO6Lt9f3Mg&q&adurl&ved=2ahUKEwjWxZX_-vPvAhX64jgGHR4vDNYQ0Qx6BAgMEAE"
          target="_blank"
          >Adobe Stock Images</a
        >
      </h5>
      &copy;All rights Reserved to Sheruni Boteju (Cb009196)
      <br />
      <a href="CB009196@students.apiit.lk">Click for inquiries</a>
    </footer>

    <script src="../scripts/main.js"></script>
    <script src="../scripts/modal.js"></script>
    <script src="../scripts/bill-calculator.js"></script>
    <script src="../scripts/donate-form.js"></script>
    <script src="../scripts/myscript.js"></script>
  </body>
</html>
