<!DOCTYPE html>
<html lang="en">
<!--PURCHASE AND DONATE  PAGE OF THE DEHIWALA ZOO-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="This site is about the wildlife of Sri Lanka showcased in Dehiwala Zoo ">
        <link rel="apple-touch-icon" sizes="180x180" href="../images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
        <link rel="manifest" href="../images/site.webmanifest">
        <link rel="mask-icon" href="../images/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="../images/favicon.ico">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="msapplication-config" content="../images/browserconfig.xml">
        <meta name="theme-color" content="#f7f3f3">
        <title>Sea Lion</title>
        <link rel="stylesheet" href="../stylesheet/sealion2.css">
        <link rel="normalize" href="../stylesheet/normalize.css">

    </head>
    <body>
    <header>
        <h1 id="title"><b><u>THE PLAYFUL SEA LION</u></b> </h1><br> 
    </header> 
     <!-- Vertical Navigation was made aiding https://www.w3schools.com/css/css_navbar_vertical.asp-->
        <nav id="mainNav">
                <a class="active" href="../Index.html">Home</a>
                <a href="TypesOfAnimalsAndPlants.html">Animals & Plants</a>
                <a href="ActivitiesPage.html">Activities</a>
                <a href="PurchaseAndDonate.html">Purchase & Donate</a>
                <a href="ContactUs.html">Contact Us</a>
        </nav>
    <br>
    <main>
        <article id="a">
        <section id="s">    
    <img id="mainImg"src="../images/sealion1-400.webp" alt="Home_Image" class="center"srcset="../images/sealion1-400.webp 1x, ../images/sealion1-600.webp 2x, ../images/sealion1-800.webp 1x"> >
    <p id="p"> <!-- Information taken from https://en.wikipedia.org/wiki/Sea_lion-->
    Sea lions are pinnipeds portrayed by external ear folds, long foreflippers, the ability to walk around on the ground, short, thick hair, and a significant chest and gut. Alongside the shroud seals, they incorporate the family Otariidae, eared seals, which contains six enduring and one cleared out creature assortments (the Japanese sea lion) in five genera.
    <br><br>Their reach stretches out from the subarctic to tropical waters of the overall ocean in both the Northern and Southern Hemispheres, with the noteworthy exception of the northern Atlantic Ocean. They have a typical future of 20–30 years. A male California sea lion loads ordinary around 300 kg (660 lb) and is about 2.4 m (8 ft) long, while the female sea lion checks 100 kg (220 lb) and is 1.8 m (6 ft) long. The greatest sea lion is Steller's Sea lion, which can weigh 1,000 kg (2,200 lb) and create to a length of 3.0 m (10 ft)
    <br><br>Sea lions eat up tremendous measures of food at a time and are known to eat around 5–8% of their body weight (about 6.8–15.9 kg (15–35 lb)) at a lone dealing with. Ocean lions can move around 16 bundles (30 km/h; 18 mph) in water and at their speediest they can show up at a speed of around 30 packs (56 km/h; 35 mph).Three species, the Australian sea lion, the Galápagos Sea lion and the New Zealand Sea lion, are recorded as imperiled.<br><br>

</p>
</section>
</article>

<section id="aa">
    <div id="animal"></div>
</section>

<!-- Information taken from https://dolphins.org/kids_sea_lion_facts#:~:text=Sea%20Lion%20Facts%20for%20Kids&text=Actually%2C%20sea%20lions%20and%20seals,seals%20use%20their%20hind%20flippers).-->
<div class="flex-container">
    <div class="flex-item-left">
        <img src="../images/sealion4.jpg" width="490" height="350" alt="Sea Lion" >
    </div>
    <div class="flex-item-right">
        <img src="../images/seaLion3.jpg"width="490" height="350" alt="Sea Lion">
    </div>
  </div>
  <div class="column">
    <article id="a">
        <section id="s"> 
   <p id ="p">Is a sea lion the same as a seal?<br><br>
    As a matter of fact, Sea lions and seals are two distinct creatures. Contrasts incorporate;
    <ol>
        <li>Sea lions have external ear folds</li>
        <li>Sea lions stroll ashore utilizing each of the four flippers (seals bob on their guts)</li>
        <li>Sea lions utilize their front flippers to swim (seals utilize their rear flippers).</li>
    </ol>
    </p>
   </section>
   </article>
</div>
<div class="flex-container">
    <div class="flex-item-left">
        <img src="../images/shark.jpg" width="490" height="350" alt="Great White Shark" >
    </div>
    <div class="flex-item-right">
        
        <img src="../images/marine debris.jpg"width="490" height="350" alt="Marine Debris">
    </div>
  </div>
  <div class="column">
    <article id="a">
        <section id="s"> 
            <p id ="p">What eats Sea Lions?<br><br>
                Actually, There are many reasons which endanger Sea Lions. This include; 
                <ol>
                    <li>Great White, Hammerhead and Blue Sharks</li>
                    <li>Orca's occasionally hunt Sea Lions too</li>
                    <li>Water pollution</li>
                    <li>Marine Debris</li>
                    <li>Competition over food and habitat</li>
                </ol>
                </p>
   </section>
   </article>
</div>
<div class="flex-container">
    <div class="flex-item-left">
        <img src="../images/Anchovies.jpg" width="490" height="350" alt="Anchovies" >
    </div>
    <div class="flex-item-right">
        <img src="../images/octapus.jpg"width="490" height="350" alt="Octopus">
    </div>
  </div>
  <div class="column">
    <article id="a">
        <section id="s"> 
            <p id ="p">What do Sea lions eat?<br><br>
                Sea lions have 34 to 38 teeth, which they use to catch and tear their food. They don't utilize them to bite their food however, they gulp down it.<br>
                Sea lions eat many things. They like;
                <ol>
                    <li>Anchovies</li>
                    <li>Herring Salmon</li>
                    <li>Squid</li>
                    <li>Octopus</li>
                </ol>
                </p>
   </section>
   </article>
</div>
<div class="flex-container">
    <div class="flex-item-left">
        <img src="../images/Antarctica.jpg" width="490" height="370" alt="Antarctica" >
    </div>
    <div class="flex-item-right">
        <img src="../images/SouthernAustralia.jpg"width="490" height="370" alt="SouthernAustralia">
    </div>
  </div>
  <div class="column">
    <article id="a">
        <section id="s"> 
            <p id ="p">Where do Sea Lions Live?<br><br><!--Info taken from https://www.livescience.com/27870-seals.html#:~:text=Fur%20seals%20and%20sea%20lions%20live%20in%20the%20Northern%20Pacific,grounds%2C%20according%20to%20the%20NOAA. -->
                Sea lions can spend about two years in the open ocean before returning to their breeding grounds; however, they can easily be found in these areas.<br>
                Off the coasts of;<br>
                <ol>
                    <li>South America</li>
                    <li>Antarctica</li>
                    <li>Southwestern Africa</li>
                    <li>Southern Australia</li>
                </ol>
                </p>
   </section>
   </article>
</div>
</section>
    <section id="aa">
        <div id="animal"></div>
    </section>

    </main>
    </div>
    </body>
    <footer>
        <section>
            <div class= "footer">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3961.282043226651!2d79.87130236448839!3d6.85675949504484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2slk!4v1618132663488!5m2!1sen!2slk" width="600" height="200" style="border:0;" align="right"></iframe>
                <h5><u>Quick Contact</u></h5>
                    <h5>Phone:</h5>
                    <p>+94 77 200 3434 <br> +94 77 200 3433</p>
                
                    <h5>Email:</h5>
                    <p>cb009196@students.apiit.lk <br> sherunirmb@gmail.com</p>
                
                        <a href="https://twitter.com/dehiwalazoo?lang=en" target="_blank">
                        <img src="../images/twitter.jpg"  alt="Twitter Icon" width= "50px" height="50px"></a>
                                              
                        <a href="https://www.facebook.com/N.Z.G.D.S/" target="_blank">
                        <img src="../images/facebook.jpg" alt="Facebook Icon" width="50px" height="50px"></a>

                        <a href="https://www.youtube.com/channel/UC84XDEelJLaoPNZG1VwoH8w" target="_blank">
                        <img src="../images/youtube.jpg"  alt="Youtube Icon" width= "50px" height="50px"></a>
                                        
                        <a href="https://www.instagram.com/explore/locations/1751816904888533/sri-lanka/dehiwala/dehiwala-national-zoo/" target="_blank">
                        <img src="../images/instagram.jpg" alt="Instagram Icon" width="50px" height="50px"></a>
       
            <h5>&copy All rights of images are reserved for images <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwi-n5z_-vPvAhXCg0sFHermAHAYABAAGgJzZg&ae=2&ohost=www.google.com&cid=CAESQOD2F3EbCDjjMO4QvFyD-dBHLndsK7U2sf9erIAQbiVSmnoGf_6sSDXJzZyQUPkEw0G4rbGt6KlItIHmo8zScrk&sig=AOD64_0rpg9XD3BdjLtS0EzLJO6Lt9f3Mg&q&adurl&ved=2ahUKEwjWxZX_-vPvAhX64jgGHR4vDNYQ0Qx6BAgMEAE" target="_blank"">Adobe Stock Images</a></h5>
            &copy;All rights Reserved to Sheruni Boteju (Cb009196) 
        <br>
        <a href="CB009196@students.apiit.lk">Click for inquiries</a>
        </div>
        </section>
      </footer>


</body>
</html>
    