<!DOCTYPE html>
<html lang="en">
<!--HTML Types of Animals and Plants Page OF THE DEHIWALA ZOO-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="This site is about the wildlife of Sri Lanka showcased in Dehiwala Zoo ">
        <link rel="apple-touch-icon" sizes="180x180" href="../images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
        <link rel="manifest" href="../images/site.webmanifest">
        <link rel="mask-icon" href="../images/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="../images/favicon.ico">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="msapplication-config" content="../images/browserconfig.xml">
        <meta name="theme-color" content="#f7f3f3">
        <title>Types Of Animals and Plants</title>
        <link rel="stylesheet" href="../stylesheet/styles.css">
        <link rel="normalize" href="../stylesheet/normalize.css">

    </head>
    <body background="../images/home_background.jpg">
        <header>
            <h1 id="title"><b><u>Types Of Animals and Plants</u></b> </h1><br> 
        </header> 
            <!---Navigation bar uses "mainNav" id in css "stylesheet", where it links to 4 webpages-->
            <nav id="mainNav">
                <ul>
                    <li><a href="../Index.html">Home</a></li>
                    <li><a class="active" href="TypesOfAnimalsAndPlants.html">Animals and Plants</a></li>
                    <li><a href="ActivitiesPage.html">Activities</a></li>
                    <li><a href="PurchaseAndDonate.html">Purchse and Donate</a></li>
                    <li><a href="ContactUs.html">Contact Us</a></li>
        
                </ul>
            </nav>
        </header>
        <!--End of Navigation-->
<h1><i><b>TYPES OF ANIMALS</b></i></h1>
<!-- Types of Animals infomation aided using http://nationalzoo.gov.lk/zoo/-->
<section>
<div class="row">
    <div class="column">
        <article id="a">
            <section id="s"> 
                    <h1>Primates</h1>
                    <img src="../images/primates.jpg" alt="Primates" height="300px" width="300px">
                    <p id="pp">Primates (Lemurs, Monkeys and Apes) are the most dynamic warm blooded creatures in the zoo.Brown lemur (Eulemur fulvus albifrons), Ring followed (Lemur catta) and Slender Loris sub species (Loris tardigrates)are crude Primates in the zoo. There are around 16 assortments of monkeys. Purple Faced Leaf Monkey (Trachypithecus vetulus) is endemic while Toque Monkey (Macaca sinica) sub species is endemic. Swinging style and hopping from one branch to another utilizing prehensile tails pull in guests to drawn Spider monkeys (Ateles belzebuth).Monkeys in family bunches with moms caring infants, it is worth to see fascination extraordinary gorillas Orang Utans and Chimpanzees.</p><br>
                    <br><br>
                    
                    <a class="button" a href="http://nationalzoo.gov.lk/animal/amazing-primates/">Read more</a>
            </section>
        </article>
     </div>


    <div class="column">
        <article id="a">
            <section id="s"> 
                    <h1>Aquarium</h1>
                    <img src="../images/aquarium.jpg" alt="Aquarium" height="300px" width="300px">
                    <p id="pp">The aquarium, which is a star fascination of the zoo, comprises freshwater, marine and bitter water segments. It was set up for a very long time. 

                        Many fish species and corals, mollusks, echinoderms and arthropods are in 22 tanks.Visitors could perception most personal conduct standards of these oceanic living beings like rearing, colonization, beneficial interaction and rivalry and so forth, from outside the tank. 
                        
                        There are 50 fish species distinguished as endemic to Sri Lanka. Out of them various assortments are displayed in the aquarium. Extremely uncommon assortments of fish including endemics have been reproduced in the aquarium and in zoo lakes too. 
                        
                        Presently there are three tanks with Amphibians, where as six species are living in their close to common conditions. Endemic frog species Polypedates cruciger is among the six Amphibian species.</p>
                        
                        <a class="button" a href="http://nationalzoo.gov.lk/animal/aquarium/">Read more</a>
            </section>
        </article>
     </div>


    <div class="column">
        <article id="a">
            <section id="s"> 
                    <h1>Birds</h1>
                    <img src="../images/Birds.jpg" alt="Birds" height="300px" width="300px">
                    <p id="pp">Sri Lanka is inconceivably wealthy in birds. There are 453 types of avifauna. The circulation of these birds shifts with natural surroundings and climatic changes. Almost 225 types of inhabitants including 33 types of endemics make gigantic avian variety in this island. 

                        Enormous number of various assortments of birds shading the zoo. Bird area involves, wonderful parrot species, flightless birds, sea-going and semi sea-going birds and numerous other flying birds. 
                        
                        Gathering of Flamingos enhances the passage of the zoo. Ostrich, the quickest and biggest flightless bird possesses the nearby walled in area at the passage and other two flightless birds, Cassowary and Emu involve the back fenced in areas. 
                        
                        There are two stroll in aviaries; one is for endemic and native birds and the other one is for extraordinary birds. Guests can notice openly flying birds, inside delightfully arranged aviaries under obscure and cool climate.
                    </p>
                        <a class="button" a href="http://nationalzoo.gov.lk/animal/birds/">Read more</a>
            </section>
        </article>
    </div>
    </div>
</section>

    <section>
        <div class="row">
            <div class="column">
                <article id="a">
                    <section id="s"> 
                    <h1>Butterfly Garden</h1>
                    <img src="../images/butterfly.jpg" alt="Butterfly Garden" height="300px" width="300px">
                    <p id="pp">Very nearly 245 types of butterflies have been recorded in Sri Lanka, of which 26 species are endemic and 100 species are compromised. 

                        The Zoo has a little yet appealing butterfly garden, which is wealthy in bushes and blossoms. A little stream moves through the butterfly garden, makes the encompassing more charming and cool. 
                        
                        In spite of the fact that there are such countless butterflies flying all through the zoo, Butterfly Park is where guests should visit to see various assortments of butterflies in a perfectly finished region. Blossoming plants and taking care of plants of butterflies make this spot more alluring. 
                        
                        Around 30 types of butterflies could see here. Notwithstanding the regular nectar, butterflies are taken care of with misleadingly gave honey bee nectar and natural product juice and furthermore new organic product pieces are given to suck juices. Butterflies as well as different phases of butterfly life cycle likewise show there, to instruct guests.</p>
                        <a class="button" a href="http://nationalzoo.gov.lk/animal/butterfly-garden/">Read more</a>
                    </section>
                </article>
            </div>

                <div class="column">
                    <article id="a">
                        <section id="s"> 
                    <h1>Cats</h1>
                    <img src="../images/cats.jpg" alt="Cats" height="300px" width="300px">
                    <p id="pp">Feline (family Felidae) individuals are noticeable among carnivores in the zoo. Sri Lankan Leopard (Panthera pardus kotiya), African Lion (Panthera leo) and Bengal Tiger (Panthera tigris) are the huge felines found in the zoo. 

                        Both orange and white Bengal Tigers could see here. The Sri Lankan panther conversationally known as "Kotiya" and "Diviyā" in Sinhala, is a subspecies of panther local to Sri Lanka and it is the nation's top hunter. Fishing feline (Prionailurus viverrinus), Rusty spotted feline (Prionailurus rubiginosus phillipsi) and Jungle feline (Felis chaus kelaarti) are the little native felines found in the country and in the zoo too.</p><br><br>
                        <br>
                        <br>
                        <a class="button" a href="http://nationalzoo.gov.lk/animal/cats/">Read more</a>
                </section>
            </article>
        </div>

        <div class="column">
                <article id="a">
                    <section id="s"> 
                    <h1>Elephants</h1>
                    <img src="../images/elephant1.jpg" alt="Elephants" height="300px" width="300px">
                   <p id="pp">Elephants are the biggest existing area creatures. Three species are presently perceived: the African shrubbery elephant, the African woodland elephant, and the Asian elephant.African Elephants (Loxodonta africana) and Asian Elephants (Elephas maximus) are various species that live in various pieces of the world. You can see the two species in the Dehiwala Zoo. There are six Asian Elephants and one African Elephant (Loxodonta africana).Any body can see the instructive showcase of Elephants in each evening at for nothing. Elephants are the biggest living area creatures, portrayed by their long trunk (lengthened upper lip and nose), columnar legs, ivory tusks, and immense head with wide level ears. They are discovered frequently in savannas, prairies, and backwoods, yet they possess a wide scope of natural surroundings, including deserts, bogs, and good countries in tropical and subtropical areas of Africa and Asia.</p>
                   <br>
                   <a class="button" a href="http://nationalzoo.gov.lk/animal/elephants/">Read more</a>
                   
                </section>
            </article>
        </div>
        </div>
        </section>

        <section>
            <div class="row">
                <div class="column">
                    <article id="a">
                        <section id="s"> 
                    <h1>Reptiles</h1>
                    <img src="../images/crocodile.jpg" alt="Reptiles" height="300px" width="300px">
                    <p id="pp">Sri Lankan reptiles check almost 209 known species with incredible variety. These reptiles comprise of snakes, reptiles, crocodiles, turtles and turtles. Right around 125 types of them are endemic to Sri Lanka. 

                        Roughly 32 types of reptiles comprehensive of unfamiliar species show in the Reptilium. 
                        
                        Two sorts of Sri Lankan Crocodiles, Marsh Crocodile (Crocodylus patustris) and Estuarine Crocodile (Crocodylus porosus) with the Galapagos Giant Tortoise (Geochelone gigantea) are at the passage of the Reptilium to invite the guests. 
                        
                        Turtles and Terrapins live in concordance with Rhinoceros Iguanas and False Gavial. Snakes stay in – house part of the Reptilium. 
                        
                        Pythons with their enormous size and stretched bodies astound guests. Being an acclaimed character in film world Green Anacondas have drawn uncommon fascination of the guests, particularly kids.</p>
                        <br><br>
                        <a class="button" a href="http://nationalzoo.gov.lk/animal/reptilium/">Read more</a>
            </section>
        </article>
    </div>

        <div class="column">
            <article id="a">
                <section id="s"> 
                    <h1>Hoofed Mammals</h1>
                    <img src="../images/giraffe.jpg" alt="Hoofed Mammals" height="300px" width="300px">
                    <p id="pp">Otherwise called Ungulates they are individuals from a different clade of fundamentally enormous vertebrates with hooves. 

                        Guests are immediately intrigued at the passageway of the zoo, by a gathering of Chapman's Zebra (Equus burchelli antiquorum). 
                        
                        Being exceptionally jeopardized and second biggest creature in the land, Black Rhinoceros (Diceros bicornis) family get the consideration of practically all guests. Rhinoceros, Domestic Ass (Mule), African Wild Ass (Donkey), Przewalsk's Wild Horse and Pony are the odd-toed well evolved creatures (Perrissodactyla) could find in the zoo. 
                        
                        Notwithstanding Hippos, Rhinos and African Elephant (Loxodonta africana), the tallest land-living and the biggest ruminant Giraffe (Giraffa camelopardalis reticulata), Greater Kudu (Hippotragus niger), Red Lechwe (leche), Scimmitar Horned (Oryx dama gazella) and Wild Buffaloes (Syncerus cafer) are some key African Mammal species in the zoo.
                    </p><br>
                    <a class="button" a href="http://nationalzoo.gov.lk/animal/ungulates-hoofed-mammals/">Read more</a>
                </section>
            </article>
        </div>
                
            <div class="column">
                <article id="a">
                    <section id="s"> 
                    <h1>Amphibians</h1>
                    <img src="../images/amphibians.jpg" alt="Amphibians" height="300px" width="300px">
                    <p id="pp">
                        Creatures of land and water are little vertebrates that need water, or a sodden climate, to endure. The species in this gathering incorporate frogs, amphibians, lizards, and newts. All can inhale and assimilate water through their slender skin. Creatures of land and water likewise have exceptional skin organs that produce helpful proteins.An Amphibian area has been opened in side the aquarium to make mindful general society on Amphibians. 

                        As of now there are three tanks with Amphibians, where as six species are living in their close to normal conditions. Endemic frog species Polypedates cruciger is among the six Amphibian species. 

                        Creatures of land and water are vertebrates.Their skin is smooth and slimy.Amphibians breath through their skin, just as their lungs in some cases.Amphibians are coldblooded.they have a perplexing life cycle (larval and grown-up stages).Many types of creatures of land and water express.
                    </p>
                        <a class="button" a href="https://www.nationalgeographic.com/animals/amphibians#:~:text=Amphibians%20are%20small%20vertebrates%20that,glands%20that%20produce%20useful%20proteins.">Read more</a>
                </section>
            </article>
        </div>
    </div>
        <!-- Types of Fauna written aiding http://www.botanicgardens.gov.lk/ -->
        <h1><b><i>Types Of Flora &amp;Fauna</i></b> </h1>
        <main>
            <article id="a">
                <section id="s">
                    <img src="../images/forests-300.webp" alt="Forest" srcset="../images/forests-300.webp 1x, stylesheet/images0.webp 2x, ../images/forests-900.webp 3x" align="left">
                    <p id="ppp">Sri Lanka’s natural vegetation covers about one-third of the total land area. The climax vegetation in most parts of the country is forest. In the Wet Zone, tropical wet evergreen forest dominates in the lowlands, and submontane and montane evergreen forests prevail in the highlands. The Dry Zone has a climax vegetation of dry evergreen forest and moist deciduous forest, with forests giving way to a stunted, shrubby, xerophytic (drought-tolerant) vegetation in its driest parts.<br><br>
                         In the highest areas of the Central Highlands, forests tend to be sparse and interspersed with grasslands.<br>
                        Most of Sri Lanka’s climax vegetation cover has been heavily depleted by extensive clearing of forests for settlements, extraction of timber, and agriculture. <br><br>
                        Therefore, The Dehiwala Zoo has been able to nurse a collection of Fauna in its premises to help the environment blossom and preserve the indeginous plants of mother Lanka before they go extinct due to construction and deforestations.<br>
                        We are dedicated to the  vision and mission of collecting, cultivating, preserving and displaying a wide range of plants labelled with their botanical names. <br> <br>
                        Here is a summary of the flora &amp; fauna which we have in our collection;
                    </p>
                    <br>

                    <!--HTML Table-->

                    <b><caption>Flora &amp; Fauna found at the Dehiwala Zoo</caption></b>
                    <div class="responsiveTable">
                     <table >
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Uses</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td><b>Araucaria columnaris</b><br><img src="../images/Araucaria columnaris.jpg" alt="Araucaria columnaris" height="150px" width="150px"></td>
                            <td>Araucaria columnaris is a distinctive narrowly conical tree growing up to 60 m (200 ft) tall in its native habit. The trees have a slender, spire-like crown.A 2017 study found that trees tend to have a uniform tilt dependent on the hemisphere of their location, leaning on average 8 degrees south in the northern hemisphere and the same angle north in the southern hemisphere.</td>
                            <td><u>Ornamental Plant</u><br>Araucaria columnaris is among the most common species of Araucaria planted as an ornamental tree and street tree in warm temperate climates. It is cultivated in gardens and public landscapes</td>
                        </tr>

                        <tr>
                            <td><b>Asplenium nidus</b><br><img src="../images/Asplenium nidus.jpg" alt="Asplenium nidus" height="150px" width="150px"></td>
                            <td>Asplenium nidus forms large simple fronds visually similar to banana leaves, with the fronds growing to 50–150 centimetres (20–59 in) long and 10–20 centimetres (3.9–7.9 in) broad. They are light green, often crinkled, with a black midrib, and exhibit circinate vernation</td>
                            <td><u>House Plant</u><br>With a minimum temperature of 10 °C (50 °F), Asplenium nidus is widely cultivated in temperate regions as a houseplant.<br><u>Medicinal</u><br>Asplenium nidus has been used locally in folk medicine for asthma, sores, weakness, and halitosis.<br><u> Eaten as a Vegetable</u><br>The sprouts of A. nidus are eaten as a vegetable in Taiwan, typically cut into inch-long pieces and sautéed with garlic and chilli peppers.</td>
                        </tr>

                        <tr>
                            <td><b>Couroupita guianensis</b><br><img src="../images/Couroupita guianensis.jpg" alt="Couroupita guianensis" height="150px" width="150px"></td>
                            <td>Couroupita guianensis, known by a variety of common names including cannonball tree, is a deciduous tree in the flowering plant family Lecythidaceae. It is native to the tropical forests of Central and South America, and it is cultivated in many other tropical areas throughout the world.</td>
                            <td><u>Ornamental Use</u><br>is planted as an ornamental for its showy, scented flowers, and as a botanical specimen for its interesting fruit.<br><u>Edible</u><br>The fruit is edible, but is not usually eaten by people because, in contrast to its intensely fragrant flowers, it can have an unpleasant smell. It is fed to livestock such as pigs and domestic fowl<br><u>Medicinal</u><br>use extracts of several parts of the tree to treat hypertension, tumors, pain, and inflammation. It has been used to treat the common cold, stomachache, skin conditions and wounds, malaria, and toothache.</td>
                        </tr>

                        <tr>
                            <td><b>Cyperus papyrus</b><br><img src="../images/Cyperus papyrus.jpg" alt="Cyperus papyrus" height="150px" width="150px"></td>
                            <td>Cyperus papyrus, papyrus,papyrus sedge, paper reed, Indian matting plant or Nile grass, is a species of aquatic flowering plant belonging to the sedge family Cyperaceae. It is a tender herbaceous perennial, native to Africa, and forms tall stands of reed-like swamp vegetation in shallow water.This tall, robust, leafless aquatic plant can grow 4 to 5 m (13 to 16 ft) high</td>
                            <td><u>Highly Economical</u><br>In Ancient Egypt, papyrus was used for various of purposes such as baskets, sandals, blankets, medicine, incense, and boats.<br>The woody root was used to make bowls and utensils, and was burned for fuel.<br><u>High Environmental Value</u><br>Playing a role in the cleaning of the environment and regulation of the ecosystem.<br>On Lake Chad, coming out of rotting masses of plant life, it develops floating islands that play a significant role in the lower water levels.</td>
                        </tr>

                        <tr>
                            <td><b>Borassus flabellifer</b><br><img src="../images/Borassus flabellifer.jpg" alt="Borassus flabellifer" height="150px" width="150px"></td>
                            <td>Borassus flabellifer is a robust tree and can reach a height of 30 metres (98 ft). The trunk is grey, robust and ringed with leaf scars; old leaves remain attached to the trunk for several years before falling cleanly.It is  commonly known as doub palm, palmyra palm, tala palm, toddy palm, wine palm or ice apple is native to the Indian subcontinent and Southeast Asia.It is reportedly naturalized in Socotra and parts of China</td>
                            <td><u>Fruit</u><br>The fruit (Palmyra fruit) measures 10 cm (3.9 in) to 18 cm (7.1 in) in diameter, has a black husk, and is borne in clusters. The top portion of the fruit must be cut off to reveal the sweet jelly seed sockets, translucent pale-white, similar to that of the lychee but with a milder flavor and no pit. <br><u>Sap</u><br>A sugary sap called toddy can be obtained from the young inflorescence, either male or female. Toddy is fermented to make a beverage called arrack, or it is concentrated to a crude sugar called jaggery<br><u>Medicinal</u><br>The roots are dried and smoked to heal nasal complaints.</td>
                        </tr>

                        <tr>
                            <td><b>Dendrocalamus giganteus</b><br><img src="../images/Dendrocalamus giganteus.jpg" alt="Dendrocalamus giganteus" height="150px" width="150px"></td>
                            <td>Dendrocalamus giganteus, commonly known as giant bamboo, is a giant tropical and subtropical, dense-clumping species native to Southeast Asia. It is one of the largest bamboo species in the world.A very tall, large-culmed, grayish-green bamboo, it grows in clumps consisting of a large number of closely growing culms, and typically reaches a height of 30 meters (98 feet), but one clump in Arunachal Pradesh, India reached a height of 42 meters. Under favorable conditions, it can grow up to 40 cm per day.</td>
                            <td><u>Construction</u><br>Dendrocalamus giganteus is very useful for construction, boat mast, bamboo house, water pipes, furniture, paper production and various other uses.used for scaffolding, boat masts, rural housing, water pipes, vases, buckets, water pitchers, matting, boards and parquet, furniture, water pots. <br><u>Vegetable</u><br>Young shoots are used as a vegetable source as it is very edicble<br><u>Paper Production</u><br>It is also able to make paper.</td>
                        </tr>
                        
                    
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">More Information from <a href="https://en.wikipedia.org/wiki/Royal_Botanical_Gardens,_Peradeniya">Royal Botanical Gardens Peradeniya</a></td>
                            </tr>
                        </tfoot>
                        
                    </table>
                    </div>
                </section>  
            </article>
        </main>
    </body>
    <!--Footer-->
    <footer>
        <section>
            <div class= "footer">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3961.282043226651!2d79.87130236448839!3d6.85675949504484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2slk!4v1618132663488!5m2!1sen!2slk" width="600" height="200" style="border:0;" align="right"></iframe>
                <h5><u>Quick Contact</u></h5>
                    <h5>Phone:</h5>
                    <p>+94 77 200 3434 <br> +94 77 200 3433</p>
                
                    <h5>Email:</h5>
                    <p>cb009196@students.apiit.lk <br> sherunirmb@gmail.com</p>
        
                    <div class="center"> 
                
                        <a href="https://twitter.com/dehiwalazoo?lang=en" target="_blank">
                        <img src="../images/twitter.jpg" alt="Twitter Icon" width= "50px" height="50px"></a>
                                              
                        <a href="https://www.facebook.com/N.Z.G.D.S/" target="_blank">
                        <img src="../images/facebook.jpg" alt="Facebook Icon" width="50px" height="50px"></a>

                        <a href="https://www.youtube.com/channel/UC84XDEelJLaoPNZG1VwoH8w" target="_blank">
                        <img src="../images/youtube.jpg" alt="Youtube Icon" width= "50px" height="50px"></a>
                                        
                        <a href="https://www.instagram.com/explore/locations/1751816904888533/sri-lanka/dehiwala/dehiwala-national-zoo/" target="_blank">
                        <img src="../images/instagram.jpg" alt="Instagram Icon" width="50px" height="50px"></a>
                    </div>
            </div>
        </section>
            <h5>&copy All rights of images are reserved for images <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwi-n5z_-vPvAhXCg0sFHermAHAYABAAGgJzZg&ae=2&ohost=www.google.com&cid=CAESQOD2F3EbCDjjMO4QvFyD-dBHLndsK7U2sf9erIAQbiVSmnoGf_6sSDXJzZyQUPkEw0G4rbGt6KlItIHmo8zScrk&sig=AOD64_0rpg9XD3BdjLtS0EzLJO6Lt9f3Mg&q&adurl&ved=2ahUKEwjWxZX_-vPvAhX64jgGHR4vDNYQ0Qx6BAgMEAE" target="_blank"">Adobe Stock Images</a></h5>
            &copy;All rights Reserved to Sheruni Boteju (Cb009196) 
        <br>
        <a href="CB009196@students.apiit.lk">Click for inquiries</a>
      </footer>
</html>