body {
  color: white;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #0f0413;
}

/********************************* 
* Buttons Start
**********************************/

.btn-primary {
  background-color: #a636ce;
  border: #a636ce;
}

.btn-primary:hover {
  background-color: #7d279c;
}

.btn-primary:focus {
  background-color: #7d279c;
}

.btn-secondary {
  background-color: #340942;
  border: #340942;
}

.btn-secondary:hover {
  background-color: #4d0c63;
}

.btn-secondary:focus {
  background-color: #4d0c63;
}

.primary-text-color {
  color: #992cc0 !important;
  margin-bottom: 20px;
}

.btn {
  border-radius: 25px;
  padding: 10px 35px;
}

/********************************* 
* Buttons End
**********************************/

/********************************* 
* Hero Section Start
**********************************/
#hero-section {
  background-image: url('../img/hero-background.png'), url('../img/hero-background-2.png'), url('../img/hero-background-2.png');
  background-position: center, top, top;
  background-size: cover, cover, cover;
  background-blend-mode: screen;
  background-repeat: no-repeat, no-repeat, no-repeat;
  padding-top: 150px !important;
  padding-bottom: 100px !important;
}

#hero-section-right {
  position: absolute;
  right: 0px;
  margin-top: -50px;
  max-height: 40vh;
}

#hero-section-right .img-container img {
  max-width: 100% !important;
  margin-left: auto;
  max-height: 90vh;
  width: auto !important;
}

/********************************* 
* Hero Section end
**********************************/

/********************************* 
* Customs Range Slider Start
**********************************/

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #34113e;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  position: relative;
  top: -33px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  border: none;
  background: #992cc0;
  cursor: pointer;
  opacity: 1;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 100px;
  background: #992cc0;
  cursor: pointer;
  opacity: 1;
}

.value-indicators {
  margin: auto;
  width: 98.5%;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 0;
}

.value-indicators .value-indicator {
  display: inline-block;
  height: 40px;
  width: 8px;
  background-color: #34113e;
  border-radius: 10px;
}

.values {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.values .value {
  display: inline-block;
  width: 41px;
}

input[name='pkg'] {
  display: none;
}
input[name='pkg'] + label {
  display: inline-block;
  cursor: pointer;
}

input[name='pkg'] + label {
  padding: 10px 12px;
  border-radius: 25px;
  position: relative;
  top: 1px;
}
input[name='pkg']:checked + label {
  background-color: #34113e;
}

/********************************* 
* Custom Range Slider End
**********************************/

/********************************* 
* Why Nebula Section Start
**********************************/

#section-2 {
  background-image: url('../img/bg-sec-2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: difference;
  background-position: center;
}

#features-card-1,
.features-card-1-inner-wrapper,
#features-card-2,
#features-card-3,
#features-card-4 {
  border-radius: 25px;
  background-position: right, center;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  background-blend-mode: screen;
}

#features-card-1 {
  background: linear-gradient(301deg, rgba(153, 44, 192, 0.5) 0%, rgba(15, 4, 19, 0.1) 25%, #0f0413 75%, rgba(153, 44, 192, 0.5) 100%);
}

#features-card-2 {
  background-image: url('../img/card-2-bg.svg'), radial-gradient(circle, rgba(41, 12, 50, 1) 0%, rgba(31, 9, 38, 0.28) 100%);
}

#features-card-3 {
  background-image: url('../img/card-3-bg.svg'), radial-gradient(circle, rgba(41, 12, 50, 1) 0%, rgba(31, 9, 38, 0.28) 100%);
}

#features-card-4 {
  background-image: url('../img/card-4-bg.svg'), radial-gradient(circle, rgba(41, 12, 50, 1) 0%, rgba(31, 9, 38, 0.28) 100%);
}

.features-card-1-inner-wrapper {
  background-image: url('../img/card-1-bg.svg'), radial-gradient(circle, rgba(41, 12, 50, 1) 0%, rgba(31, 9, 38, 1) 100%);
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  margin: 0px auto;
}

/********************************* 
* Why Nebula Section End
**********************************/

/********************************* 
* Hardware-section Start
**********************************/

#hardware-section {
  background-image: url('../img/hardware-sec-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hardware-img-container {
  position: relative;
  top: -40px;
  display: flex;
  height: 115%;
}

.hardware-img-container img {
  width: 60%;
  margin: auto;
}

.hardware-section-inner-wrap,
.location-section-inner-wrap,
.plans-section-inner-wrap {
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  border-radius: 25px;
  overflow: hidden;
  background: radial-gradient(127.84% 127.84% at 83.56% 24.52%, #290c32 0%, rgba(31, 9, 38, 0.28) 100%);
  margin: auto;
}

#hardware-section-card,
#location-section-card,
#plans-section-card {
  display: flex;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(301deg, rgba(153, 44, 192, 0.5) 0%, rgba(15, 4, 19, 0.1) 20%, #0f0413 80%, rgba(153, 44, 192, 0.5) 100%);
}

/********************************* 
* Hardware Section End
**********************************/

/********************************* 
* Section cards Start
**********************************/

.head-rect {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 50px;
  width: 100%;
  background: radial-gradient(1218.59% 26957.59% at 25.45% 0%, #992cc0 0%, rgba(153, 44, 192, 0.71) 100%);
}

.head-rect .dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  margin-right: 15px;
  background-color: #290c32;
}

#hardware-section-card,
#location-section-card,
#plans-section-card {
  border-radius: 25px;
}

.single-spec {
  margin: 30px;
}

.single-spec .col-3 {
  display: flex;
}

.single-spec .col-9 {
  display: flex;
  align-items: center;
}

/********************************* 
* Section cards End
**********************************/

/********************************* 
* Nav Start
**********************************/
#top-nav {
  background: radial-gradient(135% 103065.61% at 69.9% 50%, #992cc0 0%, #b256d2 100%);
}

#main-nav {
  position: absolute;
  top: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

/********************************* 
* Nav End
**********************************/

/********************************* 
* Discord Section End
**********************************/

#section-3 {
  background: radial-gradient(71.28% 293.04% at 22.24% 19.13%, #3d144a 0%, rgba(67, 32, 78, 0.28) 100%);
}

.discord-img-container {
  position: relative;
  display: flex;
  margin-top: -50px;
  margin-bottom: -50px;
}
.discord-img-container img {
  width: 75%;
  margin: auto;
}

.join-discord-btn {
  background-color: #501f60;
  border: #501f60;
  color: white;
  width: 200px;
}

.join-discord-btn:hover {
  background-color: #3d1849;
  color: white !important;
}

.join-discord-btn:focus {
  background-color: #3d1849;
}

/********************************* 
* Discord Section End
**********************************/

/********************************* 
* Footer Start
**********************************/
#footer {
  background-image: url('../img/footer-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.single-useful-link,
.single-connect-link,
.single-legal-link {
  margin-bottom: 10px;
}
/********************************* 
* Footer End
**********************************/

/********************************* 
* Location Section End
**********************************/
#location-section {
  background-image: url('../img/hardware-sec-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.location-sec-col-1 {
  background-image: url('../img/us-map.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}
.location-sec-col-2 {
  background-image: url('../img/uk-map.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.location-sec-col-3 {
  background-image: url('../img/australia-map.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

/********************************* 
* Location Section End
**********************************/
/********************************* 
* Plans Section End
**********************************/
#plans-section {
  background-image: url('../img/plans-sec-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

label.single-spec {
  width: -moz-available;
}

/********************************* 
* Plans Section End
**********************************/

@media (min-width: 1400px) {
  #hero-section-right {
    position: relative;
    right: unset;
    margin-top: unset;
    max-height: 40vh;
  }

  #hero-section {
    padding-top: 100px !important;
    padding-bottom: 0px !important;
  }
}
@media (max-width: 992px) {
  .values .value {
    width: 8px;
  }
}

@media (min-width: 992px) {
  #navbarSupportedContent {
    background: transparent !important;
  }

  .values .value:nth-child() {
    position: relative;
    top: 50px;
  }
}

@media (max-width: 576px) {
  .single-spec {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.line-with-headline {
  width: 100px;
  height: 10px;
  border-top: solid 3px #fff;
  display: inline-block;
  position: relative;
  top: 1px;
}
