i.bi-caret-right-fill.opened::before {
  transform: rotate(90deg);
}

i.bi-caret-right-fill::before {
  transform: unset;
}


.progress-bar{
  background-color: rgba(103, 110, 183, 0.56) !important;
}


#chart1, #chart2{
  max-width: 250px;
  max-height: 250px;
  min-width: 150px;
  min-height: 150px;
  /* margin: 0 auto; */
}