* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  word-wrap: break-word;
}

.profile-info-sec {
  background-image: url('../images/13.jpg');
  background-attachment: fixed;
  padding-top: 350px !important;
  clear: both;
}
.profile-info {
  z-index: 1;
}

.bi {
  font-size: 25px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  margin-top: -80px;
  background-image: url('../images/Profile-Picture.png');
  background-size: cover;
}

.loading {
  position: fixed;
}

main:empty + .loading {
  opacity: 1;
  z-index: 100;
}
/* .profile-info-sec::after {
  content: '';
  position: absolute;
  background: white;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 100vh;
  width: 100%;
  height: 200px;
} */

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.rounded-lg {
  border-radius: 1rem;
}

.text-gray {
  color: #aaa;
}

div.h4 {
  line-height: 1rem;
}

em::before {
  vertical-align: initial !important;
}

.line-above-headline {
  height: 10px;
  width: 50px;
  border-radius: 5px;
  background-color: orange;
}

.dot {
  display: inline-flex;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: rgba(255, 156, 0, 0.5);
  justify-content: center;
  align-items: center;
  margin-top: -8px;
  margin-left: -16px;
}

.dot div {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  background-color: rgba(255, 156, 0, 1);
  margin: auto;
}

.about-me-section {
}

.education-section,
.projects-section {
  background-color: rgba(78, 0, 78, 1);
  color: white;
}

#email-link:hover {
  text-decoration: underline !important;
}

.social-icons .bi {
  font-size: 2.2rem;
  transition: all 400ms;
}

ul.social-icons li {
  margin-right: 20px !important;
}
.social-icons .bi-facebook:hover {
  color: #17a9fd !important;
}
.social-icons .bi-github:hover {
  color: #666 !important;
}
.social-icons .bi-linkedin:hover {
  color: #0a66c2 !important;
}
.social-icons .bi-instagram:hover {
  color: #fb3958 !important;
}

.header a {
  transition: all 400ms;
}

.header a:hover {
  color: orange !important;
  text-decoration: underline !important;
}

.progressbar-container {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}

.progressbar-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-align: center;
  left: unset !important;
  top: unset !important;
  font-size: 1.5rem !important;
  /* transform: translate(0%, 150%) !important; */
  transform: unset !important;
}

#moreProjects {
  display: none;
  transition: all 400ms;
}

#left-footer {
  border-right: 1px solid rgb(209, 208, 208);
}

@media (max-width: 768px) {
  #left-footer {
    border: none;
    background: white !important;
    color: black;
    text-align: center;
  }

  #fiverr-link {
    color: black !important;
  }
}
