/*---------------------------------
  General
-----------------------------------*/
/* * {
  transition: 0.4s;
} */

html {
  overflow-x: hidden;
  word-wrap: break-word;
}

body {
  margin: 0;
  padding: 0;
  transition: 2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px auto 20px auto;
  line-height: 1.1;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

ul li {
  font-style: normal;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*---------------------------------
  Header
---------------------------------*/

header {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  top: 30px;
}

header ul li {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-size: 18px;
}

#contact-info-bar {
  position: absolute;
  width: 95%;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 100;
  background-color: orange;
  padding: 15px 0 15px 0;
  border-radius: 5px;
}

.contact-info-bar-list-item {
  display: flex;
}

.contact-info-bar-list-item-icon {
  font-size: 30px;
  margin: 0 15px 0 15px;
}

#download-btn {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-size: 17px;
  position: absolute;
  margin-top: 30px;
  background-color: orange;
  right: 0;
  padding: 15px 30px 15px 30px;
  border-radius: 5px;
  box-shadow: inset 0 0px 4px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

#download-btn:hover {
  margin-top: 25px;
}

/*---------------------------------
  Header End
----------------------------------*/

/*----------------------------------
  Info Card Section
-----------------------------------*/

#info-card-section {
  background-image: url("./13.jpg");
  background-attachment: fixed;
  display: flex;
  position: relative;
  left: 0;
  right: 0;
}

#info-card-section::after {
  content: "";
  position: absolute;
  background: white;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: 200px;
}

#info-card {
  margin: 350px auto 0 auto;
  background-color: white;
  text-align: center;
  padding: 0 100px 0 100px;
  border-radius: 5px;
  z-index: 100;
}

#profile-picture {
  background-image: url("./Profile-Picture.png");
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  margin: -100px auto 0 auto;
}

#info-card h2 {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
}

#info-card h4 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.short-text {
  display: none;
}

#birth-and-email-info {
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

#birth-and-email-info li {
  margin-bottom: 5px;
}

#social-links {
  display: flex;
  justify-content: center;
}

#social-links li {
  padding: 16px;
  font-size: 40px;
}

/*---------------------------------------
  Info Card Section End
----------------------------------------*/

/*--------------------------------------
  Detail Section
---------------------------------------*/

.detail-section {
  display: flex;
  padding: 40px 120px 40px 120px;
}

.line-above-headline {
  height: 10px;
  width: 50px;
  border-radius: 5px;
  background-color: orange;
}

.section-headline {
  flex: 33%;
  font-family: "Roboto Slab", sans-serif;
  font-size: 25px;
  margin-top: 50px;
}

.section-headline h4 {
  font-size: 17px;
}

.section-brief {
  flex: 66%;
  margin: 20px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: grey;
  font-weight: 300;
}

#projects-section {
  background-color: rgb(78, 0, 78);
  color: white;
}

#projects-section .section-brief {
  color: white;
}

#projects-section .section-headline a {
  color: white;
}

#projects-section .section-headline a:hover {
  color: orange;
  text-decoration: none;
}

#education-1-section {
  padding-bottom: 10px;
}

#education-2-section {
  padding-top: 10px;
}

/*--------------------------------------
  Detail Section End
---------------------------------------*/

/*-------------------------------------
  Footer
--------------------------------------*/

footer {
  display: flex;
  background: rgb(78, 0, 78);
  padding: 8px 150px 8px 150px;
  color: #eee;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

footer a {
  color: white;
}

footer #left-footer {
  flex: 1;
  border-right: 1px solid rgb(209, 208, 208);
  padding-left: 32px;
  margin: auto 20px auto auto;
}

footer #right-footer {
  flex: 2;
  padding: 8px;
  text-align: center;
}

footer #social-media-footer a .fa-facebook,
footer #social-media-footer a .fa-instagram,
footer #social-media-footer a .fa-linkedin,
footer #social-media-footer a .fa-github {
  color: white;
}

footer #social-media-footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

footer #social-media-footer li {
  font-size: 40px;
  padding: 16px;
  transition: 0.4s;
}

footer #social-media-footer a .fa-facebook:hover {
  color: #3b5998;
}

footer #social-media-footer a .fa-instagram:hover {
  color: #fb3958;
}

footer #social-media-footer a .fa-linkedin:hover {
  color: #0e76a8;
}

footer #social-media-footer a .fa-github:hover {
  color: #bbb;
}

/*--------------------------------
  Social Icon Hover
---------------------------------*/
.fa-facebook:hover {
  color: #3b5998;
}

.fa-github:hover {
  color: #bbb;
}

.fa-instagram:hover {
  color: #fb3958;
}

.fa-linkedin:hover {
  color: #0e76a8;
}

#go-to-start {
  position: fixed;
  float: right;
  bottom: 20px;
  right: 20px;
}

.fa-arrow-alt-circle-up {
  font-size: 40px;
  color: orange;
}

/*----------------------------------
  Back to Top Button
-----------------------------------*/

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  color: orange;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
  font-size: 40px;
  background: transparent;
}

#myBtn:hover {
  background-color: #555;
}
