* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #222325;
}
p {
  font-size: 13px;
}

.gig-info > div {
  padding: 3px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 700;
  margin: 5px 0px;
}

html {
  font-family: 'Poppins', open-sans;
}

ul {
  list-style-type: none;
}

ul li {
  padding-bottom: 10px;
  font-size: 14px;
}

#content-wrapper {
  margin: 0 auto;
  display: block;
  margin: auto;
}

.user-name-gig a:hover {
  text-decoration: underline;
}
.required-hrefs a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
}

.online-tag {
  padding: 0px 10px;
  display: inline-flex;
  float: right;
  align-items: center;
  color: #1dbf73;
  text-align: right;
  border: solid 1px #1dbf73;
  border-radius: 50px;
}

#gigs-column {
  margin-top: 50px;
}

.online-tag > small {
  color: #1dbf73;
}

.profile-sec {
  margin: 0px auto;
  width: 100%;
  border: solid 1px #ddd;
  padding: 0px 30px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  margin: auto;
}

.profile-picture > img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.profile-info {
  width: 100%;
  margin: 0px auto;
  border: solid 1px #ddd;
  padding: 0px 30px;
  margin-top: 30px;
}

.user-name {
  font-style: bold;
  text-align: center;
}

.rating-num {
  color: #ffbf00;
}

.user-tagline {
  text-align: center;
}

.gig-title a:hover p {
  color: #1dbf73;
}

.reviews-sec {
  margin-top: 50px;
}

#reviews-brief {
  text-align: center;
}

.report-button {
  text-align: center;
  margin: 10px 0;
}

#profile-sec-btns {
  justify-content: center;
  text-align: center;
}

i > span {
  padding-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #222325;
  font-weight: normal;
}

.user-info li {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.user-info li i::before {
  position: absolute;
}

.skills ul li {
  display: inline-block;
  border: solid 1px #e5e5e5;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 15px;
}

.header-heading {
  display: block;
  justify-content: space-between;
}

.skills ul li:hover {
  cursor: pointer;
  background-color: #ddd;
}

.skills ul li:hover a {
  text-decoration: none;
}

.btn-p {
  display: inline-flex;
  outline: 0;
  border: 0;
  background-color: #1dbf73;
}
.btn-p {
  color: #fff;
}

.btn-s {
  display: inline-flex;
  background-color: #fff;
  border: solid 1px #d1d3d7;
}

.btn {
  width: 48%;
  padding: 8px 0px;
  justify-content: center;
  border-radius: 5px;
  font-size: 12px;
}

.btn-s:hover {
  background-color: #95979d;
  color: #fff;
}

section {
  margin: 15px 0px;
}

.gig-container {
  white-space: normal;
  display: inline-block;
  border: solid 1px #e5e5e5;
  margin: 15px 0px;
  width: 100%;
}

.gig-container a {
  height: min-content;
}

.gig-image {
  position: relative;
  top: 0;
  left: 0;
  height: inherit;
  width: 100%;
}
.gig-image img {
  height: 100%;
  width: 100%;
}

.gig-footer {
  display: flex;
  justify-content: space-between;
}

hr {
  background-color: #dadbdd;
  height: 1px;
  border: none;
  margin: 10px 0px;
}

i {
  text-decoration: none;
}

.filter {
  display: inline-block;
  border: solid 1px #e5e5e5;
  margin-bottom: 20px;
}

.fas,
.fab {
  color: #95979d;
}

.fa-star {
  font-size: 12px;
  color: #ffbf00;
}

.fa-circle {
  font-size: 5px;
  color: #1dbf73;
}

.gig-info {
  padding: 10px 20px 10px 20px;
}

.profile-sec-btns {
  display: flex;
  justify-content: space-between;
}

.btn:hover {
  text-decoration: none;
}

.gigs-sec-header {
  display: flex;
  justify-content: space-between;
}

.required-hrefs {
  display: flex;
  justify-content: space-between;
}

.required-hrefs-wrapper {
  width: 60%;
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

select {
  box-shadow: none;
  background-color: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  outline: none;
  border: none;
  padding: 8px 20px;
}

option {
  box-shadow: none;
  background-color: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  outline: none;
  border: none;
}

select:focus {
  outline: none;
  border: none;
}

.avatar img {
  width: inherit;
  height: inherit;
}

.is-online {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  margin-left: -15px;
  color: #1dbf73;
}

.seller-info-inner-wrapper {
  display: flex;
}

.buyer-avatar {
  padding-top: 10px;
  flex: 40px;
}

.buyer-avatar > span > img {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.review {
  display: flex;
}

.fa-thumbs-up,
.fa-thumbs-down {
  cursor: pointer;
}

.fa-bars {
  cursor: pointer;
}

.thumbsup-feedback {
  margin: 10px 0px;
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.reviews-buyer-info {
  margin: 10px 0px;
}

.review-text {
  margin: 5px 0px;
}

.inner-user-info-wrapper {
  padding-left: 10px;
  display: flex;
  font-family: 'Poppins', sans-serif;
  justify-content: space-around;
}

.fa-heart:hover {
  cursor: pointer;
  color: red;
}

.location:before {
  position: relative;
}

.profile-sec-header {
  width: inherit;
  display: flex;
  justify-content: space-between;
}

.oneliner {
  display: inline-block;
}

.title {
  font-weight: 600;
}

.meta-data {
  color: #b5b6ba;
}

.btn-p:hover {
  background-color: #1ab16a;
}

.gigs-column-inner-wrapper {
  padding: 0px 30px;
}

.thumbs-up,
.thumbs-down {
  cursor: pointer;
}

.gig-title-text {
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

@media (min-width: 600px) {
  .gig-container {
    width: 47%;
    margin: 15px 5px;
  }

  .header-heading {
    display: flex;
  }

  .ratings-devided {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 900px) {
  .filter {
    margin-bottom: 0px;
  }

  #content-wrapper {
    width: 90%;
    display: flex;
  }

  #profile-column {
    margin-top: 30px;

    flex: 30%;
  }

  #gigs-column {
    flex: 70%;
    margin: 0px auto;
  }

  #gigs-container {
    justify-content: space-between;
    display: flex;
  }

  .gig-container {
    margin: 10px 5px;
  }

  .gigs-column-inner-wrapper {
    padding: 0px 50px;
  }
}

@media (min-width: 1160px) {
  #content-wrapper {
    width: 85%;
  }

  .gig-container {
    width: 32%;
  }
}

@media (min-width: 1259px) {
  #content-wrapper {
    width: 80%;
  }
}
