* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}

header {
  margin: -10px -10px 0 -10px;
  background-color: #195f81;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  font-size: inherit;
  padding: 5px 10px;
  outline: 0;
  border-radius: 0;
  border: solid 1px #bebebe;
  /* box-shadow: 2px 2px 10px rgb(0 0 0 / 10%); */
}
input[type='submit'] {
  width: auto;
  border: none;
  background-color: #39f;
  color: #fff;
  padding: 8px 20px;
}
label {
  font-size: 14px;
}

option {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #39f;
}

a.email {
  color: inherit;
  text-decoration: underline;
}

h1 {
  font-size: 2.625rem;
}

p {
  font-size: 16px;
  line-height: 1.7;
  color: #818697;
}

form {
  margin: 30px 0;
}

.container {
  padding: 10px;
  width: 90%;
  margin: 50px auto;
  background-color: #ddd;
}
.body {
  padding: 5%;
  margin: 30px 20px;
  background-color: #fff;
}

.top-p {
  margin: 15px 0;
}

.grid-p {
}

.form {
  display: grid;
  grid-row-gap: 30px;
  grid-template-columns: 50% 50%;
}
.form > div {
  font-size: 18px;
}

.form > div:nth-child(even) {
  padding-left: 10px;
}

.form > div:nth-child(odd) {
  padding-right: 10px;
}

input:focus,
select:focus {
  outline: none;
  border: 1px solid #39f;
  font-size: inherit;
}

@media (max-width: 720px) {
  .form {
    grid-template-columns: 100%;
  }
  .form > div:nth-child(even) {
    padding-left: 0px;
  }

  .form > div:nth-child(odd) {
    padding-right: 0px;
  }
}

@media (max-width: 400px) {
  header {
    margin: 0;
  }
  .container {
    width: auto;
    padding: 0;
    margin: 0 auto;
    background: 0;
  }

  .body {
    width: 100%;
    margin: 0 auto;
  }
}
