* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}
h1 {
  text-align: center;
  color: #39f;
}

header {
  margin: -10px -10px 0 -10px;
  background-color: #195f81;
}

p {
  font-size: 14px;
  color: #818697;
}

.container {
  padding: 10px;
  width: 90%;
  margin: 50px auto;
  background-color: #ddd;
}
.body {
  margin: 30px 20px;
}

.faq-container {
  margin: 10px 0px;
}

.question {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #39f;
  color: #fff;
  padding: 10px 15px;
  font-size: 1rem;
}

.answer {
  width: 100%;
  padding: 20px;
  border: solid 1px #39f;
  background-color: #fff;
  display: none;
}

.changeable {
  transition: all ease-in-out 0.4s;
}

@media (max-width: 720px) {
  .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  header {
    margin: 0;
  }
}
